# ==========================
# Virtual Environments
# ==========================
.venv/
.venv-linux/
venv/
env/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# Operating Systems
# ==========================
.DS_Store
Thumbs.db